<a href="https://colab.research.google.com/github/SinghAnjalii/Code-Memory-/blob/main/Google_Colab_Python(IIIT_Kota).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<Font Color = Yellow> **"Welcome to Python Coding"**

In [ ]:
print("Hello World")

Hello World

In [ ]:
x=3
y=4
z=5
print(x,y,z)

3 4 5

In [ ]:
x=5
y=6
print (x==y)

False

In [ ]:
a = print("int(Enter the first number)")
b = print("int(Enter the second number)")
c = a+b
print("sum is {c})")
if a>b:
  print("Max is {},format(a)")
  print("a is the winner")
else:
  print("max is {}, format(b)")
  print("b is the winner")

int(Enter the first number)
int(Enter the second number)

TypeError: ignored

<FONT COLOR = "Yellow" > PYTHON CALCULATOR CODE:

In [ ]:
first = input("Enter first number:")
operator = input("enter operator(+, -, *, /):")
second = input("Enter second number:")

first = int(first)
second = int(second)

if operator == "+":
  print(first + second)

elif operator == "-":
  print(first - second)

elif operator == "*":
  print(first*second)

elif operator == "/":
  print(first/second)

else:
  print("invalid operation")

Enter first number:2
enter operator(+, -, *, /):/
Enter second number:2
1.0

In [ ]:
x = 9
y ="2"
print(x + int(y))

11

In [ ]:
for i in range(10):
  print(i+1)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for j in range(2,20,2):
  print(j)

2
4
6
8
10
12
14
16
18

<font color = "sky blue"> Write a program to print all configurations of 3 exams for 10 students

In [ ]:
for students in range(1,11):
  for exams in range(1,4):
  print(students,exam)

NameError: ignored

In [ ]:
#program to print the first 10 integers using for loop
sum = 0
for i in range(1,11):
  sum=sum+i
print(sum)

55

In [ ]:
#while loop

i=0
while i<100:
  print(i+10)
  i=i+10

#Don't forget to update the increment in the while loop otherwise it'll run to infinity

10
20
30
40
50
60
70
80
90
100

In [ ]:
i=int(input("Enter an integer greater than 2000"))
while i<2000:
  print("Wrong entry! Try again")
  i=int(input("Enter an integer greater than 2000"))
  print("Finally you entered a correct value")

Enter an integer greater than 20001756
Wrong entry! Try again
Enter an integer greater than 20003766
Finally you entered a correct value

In [ ]:
sum=0
i=1
while i<11:
  sum=sum+i
  i=i+1
print(sum)

55

In [ ]:
#The keyword "break" is utilized to breal a for or while loop
for i in range(4):
  if i>4:
    break
  else:
    print("Remember i is less than 4")

Remember i is less than 4
Remember i is less than 4
Remember i is less than 4
Remember i is less than 4

In [ ]:
#List items are indexed.The first item has index [0], second item has index [1]
#To determine how many items a list has, us the len() function
#use the append() to add any item at the end of the list.
#The remove() method removes the specified items, the pop() method removes the specified index, del() keyword also removes the specified index.
#List objects have a sort() method that will sort the list alphanumerically, ascending by default. To sort descending use the argument reverse=true. The reverse() method reverses the order of sorting

#Easiest way to join to list is by using + operator

In [ ]:
#List[]
#Tuple()
#Set{}

In [ ]:
#Tuple items are immutable, ordered, indexed and allow duplicate values

#Set item unordered, not indexed, unchangeable but you can add remove or add value and do not allow duplicate values. used where you don't want repitition.
#len()
#si.add()
#s1.update
#s1.cleaes
#Easiest way to join two sets is by using + operator or union()
#The intersection() method returns only items that exists in both sets or in all the sets if the comparison is done with more than two sets.
# isdisjoint() sets return True if none of the items are present in both the sets, otherwise it returns False.
# The issubset() method return True if all items in the sets exists in specified set, otherwise it returns False
# The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it returns False.

In [ ]:
s1={1,2}
s2={3,4}
s1.isdisjoint(s2)

True

In [ ]:
s2.isdisjoint(s1)

True

In [ ]:
s1.issubset(s2)

False

In [ ]:
s1={1,2}
s2={1,2,3}
s1.issubset(s2)

True

In [ ]:
s2.issubset(s1)

False

In [ ]:
s1.issuperset(s2)

False

In [ ]:
s2.issuperset(s1)

True

In [ ]:
#symmetric_difference() method returns a set that contains all items from both set but not the items that are present in both sets.
s1={1,2,3}
s2={1,2,5}
s3=s1.symmetric_difference(s2)
print(s3)

{3, 5}

In [ ]:
dict1= {'Mohan':95, 'Ram':89, 'Suhel':92, 'Sam':85}
for key in dict1:
  print(key,':',dict1[key])

Mohan : 95
Ram : 89
Suhel : 92
Sam : 85

In [ ]:
print(dict1.get('Sam'))

85

In [ ]:
dict2={'John':89, 'Tina':86}
dict1.update(dict2)
print(dict1)

{'Mohan': 95, 'Ram': 89, 'Suhel': 92, 'Sam': 85, 'John': 89, 'Tina': 86}

In [ ]:
ODD={1:'One', 2:'two', 3:'three', 4:'four', 5:'five' }
print(ODD)

{1: 'One', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [ ]:
print(ODD.keys())

dict_keys([1, 2, 3, 4, 5])

In [ ]:
print(ODD.values())

dict_values(['One', 'two', 'three', 'four', 'five'])

In [ ]:
print(ODD.get(5))

five

In [ ]:
#Program to create a dictionary which stores the name of employer and their salary

In [ ]:
num=int(input("Enter the number of employees whose data to be stored:"))
count=1
employee=dict()
while count <= num:
  name=input("Enter the name of the employee: ")
  salary=int(input("Enter the salary: "))
  employee[name]=salary
  count+=1
print("n\nEMPLOYEE_NAME\t\tSALARY")

for k in employee:
  print(k,'\t\t', employee[k])

Enter the number of employees whose data to be stored:5
Enter the name of the employee: Tara
Enter the salary: 86700
Enter the name of the employee: Sam
Enter the salary: 76460
Enter the name of the employee: Danie
Enter the salary: 75600
Enter the name of the employee: Can
Enter the salary: 8700
Enter the name of the employee: Yan
Enter the salary: 6500
n
EMPLOYEE_NAME		SALARY
Tara 		 86700
Sam 		 76460
Danie 		 75600
Can 		 8700
Yan 		 6500

In [ ]:

#Write a program to count the number of times a character appears in a string

st=input("Enter a string: ")
dic={} #an empty dict created
for ch in st:           #ch is for character
  if ch in dic:
    dic[ch]+=1
  else:
    dic[ch]=1
for key in dic:
  print(key, ':', dic[key])

Enter a string: You are powerful
Y : 1
o : 2
u : 2
  : 2
a : 1
r : 2
e : 2
p : 1
w : 1
f : 1
l : 1

In [ ]:
def average(a,b):
  return(a+b)/2
print(average(10,5))
print(average(28,67))

7.5
47.5

In [ ]:
a=6
id(a)
b=9
id(b)

134994784911856

In [ ]:
ord('A')

65

In [ ]:
def average(*n):
  s=0
  for i in n:
    s=s+i
  return(s/len(n))
average(5,3,1)

3.0

In [ ]:
def l_function(food):
  for x in food:
    print(x)
fruits=('straw', 'pear', 'grapes')
l_function(fruits)

straw
pear
grapes

In [ ]:
def KW_f(**kwargs):
  for key, value in kwargs.items():
    print("%s==%s"%(key,value))
KW_f(first='1st', second='2nd')

first==1st
second==2nd

**FILE READ FUNCTIONS**

In [ ]:
f=open('file_read_functions','x')   #To create a file

In [ ]:
text=f.read('file_read_functions')
print(text)

TypeError: ignored